:root {
    --color-primary: #0dcaf0;
    --color-secondary: #0dac; 
    --color-light: #f8f9fa;
    --color-dark: #212529;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--color-dark);
}